@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: public-pixel;
    src: url("/src/fonts/public-pixel.woff");
  }
  @font-face {
    font-family: chill;
    src: url("/src/fonts/chill.woff");
  }

body{
    font-family: "chill", sans-serif;
    font-size: 18px;
    color: white;
    background-color: black;
}

h1 {
    font-family: "public-pixel", monospace;
    font-size: 2em;
}

h2{
    font-family: "public-pixel", monospace;
    font-size: 1.2em;
}

h3{
    font-family: "public-pixel", monospace;
    font-size: 1.2em;
}